@model _420_476_ProjetFinal_Desrosiers_Pucacco_Lam.Request

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes vous sure de vouloir supprimer cette offre?</h3>
<div>
    <h4>Requete</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Titre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            Texte:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            Date de création:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            Image:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            Categorie:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

    </dl>

    </div>
    @using (Html.BeginForm("Delete", "Requests", FormMethod.Post))
    {

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
            <input type="submit" value="Supprimer" class="btn btn-default" />
            <a class="btn btn-default" href="@Url.Action("MyOffersAndRequests", "Account")">Retour</a>
</div>
    }
